/* Общие стили */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

img {
	z-index: 0;
}

a {
	text-decoration: none;
	position: relative;
}

a:after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 2px;
	background-color: #bababa;
	content: "";
	transition: all 200ms ease-out;
}

a:hover:after,
a:focus:after {
	width: 100%;
}

a, p, h1, h2, h3 {
	color: #111111;
}

a, p, h4, h5 {
	font-family: montserrat;
}

h1 {
	font-family: 'BodoniPosterC';
}

h2 {
	font-family: 'BodoniCondC';
}

h3 {
	font-family: 'BodoniC';
}

html, body {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
}

body {
	background-color: #dedede;
	flex-direction: column;
	padding-top: env(safe-area-inset-top);
	padding-left: 3vw;
	padding-right: 3vw;
	position: relative;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-bottom: 100px;
}

.content {
	width: 1180px;
}

header {
	height: 80px;
	width: 100vw;
	box-shadow: 0 0 20px 0 rgba(17, 17, 17, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #dedede;
	padding: 0 10px;
	position: fixed;
	top: 0;
}

footer {
	height: 157px;
	width: 100vw;
	box-shadow: 0 0 20px 0 rgba(17, 17, 17, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	padding: 0 30px;
	position: absolute;
	bottom: 0;
	background-color: #DEDEDE;
	z-index: -1;
}

.tosi {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.tb {
	font-family: 'Bodoni MT';
	font-weight: bold;
	font-size: 50px;
	color: #111111;
	text-wrap: nowrap;
}

.tosi h2 {
	font-family: 'BodoniC';
	font-size: 25px;
	font-style: italic;
	font-weight: normal;
	text-align: end;
	text-wrap: nowrap;
}

footer img {
	width: 100px;
}

nav {
	display: flex;
	gap: 35px;
	font-weight: 500;
	font-size: 18px;
}

.space {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footerAlign {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.city {
	padding: 5px 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	font-weight: 550;
	font-size: 18px;
	display: none;
	text-wrap: nowrap;
}

nav .city p {
	color: white;
}

nav .city img {
	filter: invert(1);
}

.left {
	display: flex;
	gap: 30px;
}

.logo {
	display: flex;
	align-items: center;
	gap: 15px;
}

.logo img {
	width: 50px;
	transition: all 200ms ease-in-out;
	cursor: pointer;
	z-index: 1;
	position: relative;
	left: 0;
}

.logo img:hover {
	width: 55px;
	left: -2px;
}

.tb1, .tb2 {
	font-family: 'Bodoni MT';
	font-weight: bold;
	font-size: 32px;
	color: #111111;
	display: none;
	text-wrap: nowrap;
}

.title h1 {
	text-align: center;
	font-size: 50px;
}

/* 2. Меню (по умолчанию в строку) */

nav ul {
    list-style: none;
    display: flex;
    gap: 35px;
	align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #111111;
    font-size: 18px;
    transition: color 0.3s;
}

/* 3. Гамбургер (по умолчанию скрыт) */

.menu-btn {
    display: none;
    width: 40px;
    cursor: pointer;
    position: relative;
    z-index: 100;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
    content: "";
    position: absolute;
    width: 26px;
    height: 3px;
    background: #111111;
    transition: 0.3s;
}

.menu-btn span::before {
    transform: translateY(-10px);
	top: 2px;
}

.menu-btn span::after {
    transform: translateY(10px);
	top: -2px;
}

/* Анимация иконки (гамбургер → крестик) */

.menu-btn.open span {
    background: transparent;
}

.menu-btn.open span::before {
    transform: rotate(45deg);
	background-color: white;
	top: 0;
}

.menu-btn.open span::after {
    transform: rotate(-45deg);
	background-color: white;
	top: 0;
}

/* 5. Затемнение фона */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    visibility: hidden;
    transition: background 0.3s ease;
}

.overlay.active {
    background: rgba(0, 0, 0, 0.85);
    visibility: visible;
	z-index: 10;
}

.card-container {
    perspective: 1000px;
}

.card {
    width: 215px;
    height: 301px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 550ms;
    cursor: pointer;
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.25);
}

.card-front {
    background-image: url('../img/card-1.svg');
	background-position: center;
	background-size: cover;
}

.card-back {
    background-image: url("../img/card-2.svg");
	background-position: center;
	background-size: cover;
    transform: rotateY(180deg);
}

.card.flipped {
    transform: rotateY(180deg);
}

.card-front h5 {
	font-family: 'Compotes Citro';
	font-size: 22px;
	text-align: center;
	font-weight: normal;
	color: white;
	line-height: 100%;
}

.card-back h5 {
	font-family: 'Compotes Citro';
	font-size: 18px;
	text-align: center;
	font-weight: normal;
	color: black;
	line-height: 100%;
}

.card-back div {
	width: 177px;
}

.card-front div {
	width: 133px;
}

.bannerCard {
	background: rgb(41,52,39);
	background: linear-gradient(90deg, rgba(41,52,39,1) 0%, rgba(17,15,14,1) 100%);
	width: 120vw;
	height: 700px;
	display: flex;
	justify-content: center;
	padding: 200px 0;
	margin-bottom: 150px;
	z-index: -5;
}

.logoMain {
	width: 220px;
	position: absolute;
	top: 590px;
	z-index: -2;
}

.mainBlock {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 100px;
	padding-bottom: 50px;
	width: 1180px;
}

.title {
	width: 100%;
}

.title span {
	font-family: 'BodoniC';
	font-size: 35px;
	font-style: italic;
	font-weight: bold;
}

.title h1 {
	line-height: 100%;
}

.textBlock {
	display: flex;
	gap: 50px;
	flex-direction: column;
	align-items: center;
	width: 70%;
}

.column {
	width: 100%;
	display: flex;
}

.alignRight {
	justify-content: flex-end;
}

.alignRight div {
	align-items: flex-end;
	text-align: end;
}

.column div {
	width: 380px;
	display: flex;
	flex-direction: column;
	font-family: montserrat;
	font-size: 16px;
	gap: 20px;
	font-weight: 500;
}

.textBlock h2 {
	font-size: 24px;
	font-weight: 700;
	font-family: montserrat;
}

.devider {
	width: 250px;
	height: 2px;
	background-color: #bababa;
}

.goodLuck {
	font-size: 22px;
	text-align: center;
}

.btn {
	padding: 5px 25px;
    width: 180px;
    border-radius: 50px;
    transition: all 700ms, color 500ms;
    border: 2px solid #111111;
    background: none;
    background-size: 200% 200%;
    background-position: 100%;
    background-image: linear-gradient(90deg, #111111 50%, hsla(0, 0%, 100%, 0) 0);
    color: #111111;
	font-family: montserrat;
	font-size: 24px;
	font-weight: 600;
	cursor: pointer;
}

.btn img {
	transition: all 700ms;
	margin-left: 8px;
}

.btn:hover {
	background-position: 0;
    color: white;
}

.btn:hover img {
	filter: invert(1);
}

.hours {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 35px;
	border-radius: 35px;
	border: 2px #111111 solid;
	width: 580px;
	gap: 35px;
}

.hours h1 {
	font-size: 30px;
	font-weight: 600;
	font-family: montserrat;
}

.time {
	display: flex;
	font-family: montserrat;
	gap: 20px;
}

.time h4 {
	font-size: 30px;
}

.time h5 {
	font-size: 16px;
}

.time h4, .time h5 {
	font-weight: 500;
}

.time div {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	width: 245px;
}

.address {
	font-size: 20px;
	display: flex;
	gap: 15px;
	width: 380px;
	font-weight: 600;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.address img {
	width: 26px;
}

.link {
	display: flex;
	gap: 20px;
}

.link a:after {
	content: none;
}

.bannerNews {
	background-image: url('../img/Last\ News.jpg');
	background-repeat: no-repeat;
	background-position: center;
	width: 100vw;
	border-top-left-radius: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60vh;
}

.block {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.bannerNews h1 {
	font-family: 'BodoniCondC';
	font-size: 85px;
	font-weight: normal;
	color: white;
}

.bannerNews p {
	font-family: 'BodoniC';
	font-size: 26px;
	font-weight: normal;
	font-style: italic;
	color: white;
	text-align: end;
}

/* Медиа-запросы */

@media (max-width: 1024px) {
	.content {
		width: 780px;
	}
	
    nav {
        position: fixed;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.95);
        width: 100%;
        max-width: 300px;
        padding: 20px;
        background: none;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    nav ul {
        flex-direction: column;
        gap: 25px;
    }

    nav ul li a {
        color: white;
		font-size: 30px;
    }

    .menu-btn {
        display: block;
    }

    nav.open {
        opacity: 1;
        visibility: visible;
        transform: translate(-50%, -50%) scale(1);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 250px;
		z-index: 20;
    }

	.textBlock {
		width: 580px;
	}
}

@media (max-width: 768px) {
	.content {
		width: 688px;
	}

	.textBlock {
		width: 512px;
	}
}

@media (max-width: 480px) {
	.content {
		width: 412px;
	}

	nav .city {
		display: flex;
		font-weight: 500;
		margin-top: 35px;
		font-size: 16px;
	}

	.tb2 {
		display: block;
		left: 50%;
	}

	.tb {
		font-size: 32px;
	}

	.tosi h2 {
		font-size: 14px;
	}

	footer img {
		width: 82px;
	}

	.textBlock {
		width: 412px;
	}

	.title h1 {
		font-size: 32px;
	}
	
	.title span {
		font-size: 24px;
	}

	.column div {
		width: 336px;
	}

	.hours {
		width: 100%;
	}

	.time {
		flex-direction: column;
		align-items: center;
		gap: 30px;
	}

	.bannerNews {
		height: 50vh;
		border-top-left-radius: 100px;
	}

	.bannerNews h1 {
		font-size: 56px;
	}
	
	.bannerNews p {
		font-size: 22px;
	}

	.goodLuck {
		font-size: 20px;
	}

	.mainBlock {
		gap: 70px;
	}

	.bannerCard {
		margin-bottom: 110px;
	}
}

@media (min-width: 481px) {
	.left .city {
		display: flex;
	}

	.tb1 {
		display: block;
	}
}

@media (max-width: 390px) {
	.content {
		width: 318px;
	}

	.tosi h2 {
		font-size: 12px;
	}

	.footerAlign {
		gap: 30px;
	}

	.textBlock {
		width: 318px;
	}

	.title h1 {
		font-size: 26px;
	}
	
	.title span {
		font-size: 20px;
	}

	.column div {
		font-size: 14px;
		gap: 10px;
		width: 236px;
	}
	
	.textBlock h2 {
		font-size: 18px;
	}

	.bannerNews {
		border-radius: 0;
		height: 40vh;
	}

	.address a {
		font-size: 16px;
	}

	.address img {
		width: 22px;
	}

	.bannerNews h1 {
		font-size: 38px;
	}
	
	.bannerNews p {
		font-size: 16px;
	}

	.goodLuck {
		font-size: 16px;
		text-align: center;
	}
}